

html{

    height: 100%;
    font-size: 62.5%;
}

body {
    background-image: url("/img/station.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

main{
    position: relative;
    border: 10px solid rgb(0, 134, 186);
    background-color: skyblue;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 40px 30px 60px;
    top: 160px;
}

main > .btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > .record-container{
    margin-top: 20px;
    text-align: left;
}

main > .record-container > #save-nr{
    font-size: 2rem;
    margin-bottom: 5px;

}

main > .record-container > #current-nr{
    font-size: 2rem;
}

h1 {
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 10px;

}

h2 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 2rem;
}

#increment-btn {
    background: darkred;
    margin-bottom: 15px;
}

#save-btn {
    background: darkgreen;
}

#exit-btn {
    background: orange;
}